.root::-webkit-scrollbar {
  width: 0px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

#background {
  height: 500vh;
  width: 100%;
  background-color: rgb(44, 40, 78);
}

#imageSequenceWrap {
  cursor: default;
}

#imageSequenceWrap > h2 {
  display: none;
}

body {
  width: calc(min(100vw, 100%));
  height: calc(min(100vh, 100%));
  overflow-x: hidden;
}

#imageSequence {
  object-fit: cover;
}

#contentWrap {
  width: calc(min(100vw, 100%));
  height: calc(min(100vh, 100%));
  background-color: black;
}

#loadingWrap {
  user-select: none;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#loadingWrap:hover {
  cursor: move;
}

#loadingText {
  text-transform: uppercase;
  font-size: 36px;
  z-index: 200;
  position: fixed;
  top: 100px;
}

#loadingSubtext {
  text-align: center;
  z-index: 200;
  position: fixed;
  bottom: 200px;
}

#scrollDownTextWrapper {
  color: white;
  text-transform: uppercase;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  bottom: 0px;
  opacity: 0;
  background-color: transparent;
  height: fit-content;
  z-index: 500;
}

#loadingBarWrap {
  position: fixed;
  top: 180px;
}

#scrollDownArrow {
  position: absolute;
  bottom: -35px;
}

#contentWrap {
  width: 100vw;
  height: 100vh;
  background-color: black;
}

#checkmarkWrapper {
  position: absolute;
  top: -5px;
  left: 8px;
  width: 100%;
  font-size: 36px;
  text-align: center;
}

#checkmarkWrapper > i {
  width: 36px;
  height: 36px;
}
